gmail-to-slack.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "bf92709a-77d8-4ef7-be94-70b313952cc0",
      "name": "Gmail Trigger"
        }
      ,
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "from",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "to",
              "value": "={{ $json.To }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "messageId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ec0bbd8f-3696-4c7a-b726-c5f860bf2612",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ADS34G7KN",
          "mode": "id"
        },
        "text": "=📧 *New Gmail Message*\n\n*From:* {{ $('Gmail Trigger').item.json.From }}\n*To:* {{ $('Gmail Trigger').item.json.To }}\n*Subject:* {{ $('Gmail Trigger').item.json.Subject }}\n\n*Preview:*\n{{ $('Gmail Trigger').item.json.snippet }}\n\n_Message ID: {{ $('Gmail Trigger').item.json.id }}_",
        "otherOptions": {}
      },
      "id": "836f9be1-1129-4b40-9f48-123db41a2f87",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        432,
        0
      ],
      "webhookId": "xx"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9b6fb7ea-f947-4dc9-bd68-67cc808b56cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d0ec4523f8b27d245343aaa986ce4b4a3039a55b5d91695b10b807499c4081"
  },
  "id": "eh3Wtrlpj9ykDwpcdhAMO",
  "tags": []
}